{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "QuamiDb": "Host=localhost;Port=5432;Database=quami_dev;Username=KULLANICI_ADINIZ"
  },
  "Api": {
    "Keys": {}
  }
}
